body
{
background-color: black;
}

div {
    text-align: center;}

#canvasBox {
    width: 500px;
    height: 500px;

    margin: 0 auto;
    margin-top: 40px;
}
.formBox {
    margin: 0 auto;
}

.formBox input {
    background-color: #122b40;
    color:white;
    border: 1px solid white;
}

#display {
/*     width: 500px;
    height: 500px; */
    border: 1px gray dashed;

}